<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Vuejs Simple Demo 4-5</title>
		<script type="text/javascript" src="./vue.js"></script>
		<!--
		<script type="text/javascript" src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
		-->
	</head>
	<body>
		<div id="demo">
			<h1>{{msg}}</h1>
			<my-component v-bind:items='items'></my-component>
		</div>
		<script type="text/tmplate-x" id="my_component">
			<form @submit.prevent="additem(newitem)">
				<div v-for="item in items">
					<p>{{ item.text }}</p>
				</div>
				<div>
					<input type="text" v-model="newitem.text">
				</div>
				<div>
					<button>Add</button>
				</div>
			</form>
		</script>
		<script>
			Vue.component('my-component', {
				template: '#my_component',
				props: ['msg', 'items'],
				data(){
					return {
						newitem: {text:''}
					}
				},
				methods:{
					additem(newitem){
						this.items.push(newitem)
						this.newitem={text:''}
					}
				}
			})

			new Vue({
				el: '#demo',
				data: {
					msg: 'vue.js component',
					items: [
						{text:'hello shiyanlou'}
					]
				}
			})
		</script>
	</body>
</html>