adium-theme-ubuntu==0.3.4
backports.shutil-get-terminal-size==1.0.0
chardet==2.3.0
cryptography==1.7.1
decorator==4.0.11
dnspython==1.15.0
enum34==1.1.6
Flask-PyMongo==0.4.1
genpac==1.4.1
idna==2.2
ipaddress==1.0.17
ipython==5.1.0
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.11.3
keyring==10.3.1
keyrings.alt==2.2
MarkupSafe==0.23
meld3==1.0.2
oauthlib==2.0.0
pathlib2==2.1.0
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.9
psutil==5.0.1
ptyprocess==0.5.1
pyasn1==0.1.9
pycrypto==2.6.1
Pygments==2.2.0
pygobject==3.22.0
pymongo==3.3.0
pyOpenSSL==16.2.0
pyxdg==0.25
requests==2.11.1
requests-oauthlib==0.6.2
SecretStorage==2.3.1
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.1.6
supervisor==3.3.1
traitlets==4.3.1
unity-lens-photos==1.0
vboxapi==1.0
virtualenv==15.1.0
wcwidth==0.1.7
Werkzeug==0.11.11
