<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/user/list.css">
    <link rel="stylesheet" href="/static/public/font-awesome.min.css">
    <link rel="stylesheet" href="/static/public/layer.css">
    <script src="/static/public/jquery-1.11.1.js"></script>
    <script src="/static/public/jquery.tmpl.min.js"></script>
    <script src="/static/public/layer.js"></script>
  </head>
  <body>
    <header class="content-header">
      <ul>
        <li>
          <p>auto reply information</p>
          <input id="message" type="text" value="{{ value }}">
        </li>
        <li>
          <input id="submit" type="button" value="set">
        </li>
      </ul>
    </header>
    <section class="content-box"></section>
    <script src="/static/user/list.js"></script>    
  </body>
</html>
